{%extends 'base.html'%}
{%block title%}Landing page{%endblock%}
{%block content%}
<html>
    
    <body>
        
        <section class = 'welcome text-center p-3 inner cover'>
            <div><h2 class = 'display-1 p-4 mt-1 '>Welcome</h2></div>
            <p class = 'display-5'>Welcome to Stay Campaign where. This is where at your own comfort zone during election times, you can easily access detailed information on your candidates</p>
            <div>
                <button class="btn btn-lg btn-primary" style="font-size: 20px; padding: 20px 40px;">Sign up</button>
            </div>
            
        </section>
        
        <footer class="footer navbar-dark pb-1 bg-dark fixed-bottom">
            <div class="container p-3">
                <p class="text-center text-white lead h4 ">By Manaseh Njoroge</p>
            </div>
        </footer>
    </body>
</html>
{%endblock content%}