{% extends 'base.html' %}
{%load static%}
{% block content %}
<style>
  .custom-image-size {
    width: 150px;
    height: 150px;
}
</style>
<section style="background-color: #eee; height=100%;" class='p-4'>
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-2">
          <div class="card-body text-center">
            <div>
            
            {% if user.profile.image %}
            <img src="{{ user.profile.image.url }}" alt="avatar" class="rounded-circle img-fluid img-thumbnail custom-image-size border border-primary" style="width: 150px;">
            {% else %}
            <img src="{% static 'img/profile1.png' %}" alt="avatar" class="rounded-circle img-fluid img-thumbnail custom-image-size border border">
            {% endif %}
            </div> 
            <h5 class="my-3"></h5>
            <p class="text-muted mb-1">
              {%if user.is_authenticated%}
                Welcome {{user.username}}
              {%else%}
                Currently you are {{user.username}}
              {%endif%}
            </p>
            <p class="text-muted mb-4"></p>
            <div class="d-flex justify-content-center mb-2">
              <a href = '{%url "create_profile"%}'type="button" class="btn btn-primary">Edit Profile</a>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-2 mb-2">
            <div class="col-m-3">
               {%if user.is_authenticated%}
              <p class="mb-0 display-4">About me</p>
              <hr>
              
              <p> {{user.profile.about_me}}</p>   
              <hr>    
              {%else%}
               {% comment %} <p class="mb-0 display-4"></p>
              <hr>
              <p> You may choose to signup and login </p>   
              <hr>  {% endcomment %}
              {%endif%}   
        </div>
        
     
          
          <!--div class='text-center'>
            <a href ="{% url 'create_profile' %}" class="btn btn-primary">edit</a>
          </div-->
      </div>
    </div>
  </div>
{% comment %} {% for obj in docketchecker.dockets%}
{{ obj }}
{% endfor %} {% endcomment %}
{%if docketchecker.dockets != 'none' and docketchecker.dockets is not None%}
    <div class="col-lg-8">
      
      <div class="card mb-4 p-2">
        <div class="col-m-3">
          <p class="mb-0 display-4">Manifesto</p>
          <hr>
          {%if user.is_authenticated%}
          {{user_mangender.agenda}}
          <hr>
          {% else %}
           <p> It is an aspirational document, a moral compass to ground us in the kinds of leaders we want to be.</p>   
          <hr>
          something like if !manifesto then
          Tell us what you give
          {%endif%}
        </div>
   
      </div>
    
      <div class="card mb-4 p-2">
        <div class="col-m-3">
          <p class="mb-0 display-4">Agenda</p>
          {% if user.is_authenticated%}
          <hr>          
          <p>{{user_mangender.agenda}}</p>
          <hr>
          {%else%}
          <p>In politics, a political agenda is a list of subjects or problemsto which government officials as well as individuals outside the government are paying serious attention to at any given time</p>
          <hr>
          Tell the people what you want to address
        </div>
          {%endif%}
            <div class='text-center'>
              <a href ='{%url "create_mangender"%}' class = 'btn btn-primary'>edit<a>
            </div>
      </div>
            {%if user_mangenda is not none%}
            <div class='text-center'>
              
              <a href ='{%url "comments" user_mangender.id%}' class = 'btn btn-primary'>comment<a>
            </div>
            {%endif%}
    </div>
   {%else%}

 <div class="col-lg-8">  
 <div class="card mb-4 p-2">
    <div class="col-m-3">
        <p class="mb-0 display-4">Welcome New Voter</p>

        <p>As a new voter, you have a crucial role in shaping the future of our society. Your voice matters, and your vote counts. Please check the out the current voters and make a decision</p>
        <hr>
        Tell us what issues matter most to you.
    </div>
      <div class="d-flex justify-content-center mb-2">
            <a href = '{%url "dockets" %}'type="button" class="btn btn-primary">Check aspirants</a>
        </div>
</div>
</div>    
     
  </div>
  {%endif%}
</section>
{% include 'footer.html' %}
{% endblock  %}
