{% extends 'base.html' %}
{% block content %}
<section style="background-color: #eee;" class='p-4'>
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img src="{{vice.image.url}}" alt="avatar"
            class= "rounded-circle img-fluid img-thumbnail custom-image-size border border-primary" style="width: 150px; height:150px;">
          <h5 class="my-3"></h5>
          <p class="text-muted mb-1">
              {{vice.user.first_name}} {{vice.user.last_name}}{{vice.user.username}}
          </p>
          <p class="text-muted mb-4"></p>
          <div class="d-flex justify-content-center mb-2">
            <p> Vying for vice president of the school </p>
          </div>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-2 mb-2">
          <div class="col-m-3">
            <p class="mb-0 display-4">About me</p>
            <hr>
            <p> {{vice.about_me}}</p>   
            <hr>
       
          </div>
     
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-4 p-2">
        <div class="col-m-3">
          <p class="mb-0 display-4">Manifesto</p>
          <hr>
          <p>{{vice.mangender.manifesto}}</p> 
          <hr>
     
        </div>
   
      </div>
      <div class="card mb-4 p-2">
        <div class="col-m-3">
          <p class="mb-0 display-4">Agenda</p>
          <hr>
          <p>{{vice.mangender.agenda}}</p>
          <hr>
        </div> 
     
      </div>
         {% if not vice.mangender.id %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        No mangender found for this candidate.
        <a href="{%url 'dockets'%}" ><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></a>
    </div>
    {%else%}
      <div class="card mb-4 p-2">
        <p>What are your views on the candidate</p>
        <a href = "{%url 'comments' vice.mangender.id%}" class="btn btn-primary">Make a comment</a>
      </div> 
   
    {% endif %}
    </div>
  </div>
</section>
{% include 'footer.html' %}
{% endblock content %}
